html {
  font-size: 10px;
  background: url(https://source.unsplash.com/8QrPJ3Kfie4/);
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 6rem;
  margin-top: 0px;
  padding-top: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 20px 20px 10px black;
}

.keys {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color:#fff;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #382d05;
  box-shadow: 0 0 1rem #836f28;
}

kbd {
  display: block;
  font-size: 5rem;
}

.sound {
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #ffc600;
}
